body { /* literalmente as alterações do corpo da paginá*/
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background: url(img.jpg) no-repeat;
}

.container { /*a parte em volta do login*/
    background-color: transparent;
    padding: 20px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255 , .2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 { /* a parte escrita login*/
    color: #fff;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

input { /*caixa de por o valor para calculo*/
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button { /*alterações e cores do botão normalmente*/
    padding: 10px 20px;
    background-color: #fd0202;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover { /*cor do botão quando se passa por cima*/
    background-color: #abf9ff;
}

.resultados { /*o nome já diz*/
    margin-top: 20px;
    text-align: left;
}

.resultados p { /* o nome já diz sobre e mais o p da escrita*/
    font-size: 1.2em;
    color: #fff;
    margin: 5px 0;
}

.chart-container { /*me parece auto explicativo mas tem relção com a "caixa" do gráfico*/
    position: relative;
    height: 300px;  /* Ajuste a altura conforme necessário */
    width: 300px;   /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza o gráfico */
}

#myChart { /*parecido com a questão de cima*/
    height: 100% ;
    width: 100% ;
    border-radius: 10px;
}

@media (max-width: 600px) { /*segue a lógica*/
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    input, button {
        font-size: 1em;
    }

    .chart-container { /*ajuste do tamanho do gráfico*/
        height: 200px;  
        width: 200px;   
    }
}

footer { /*literal o rodapé como o nome já diz*/
    flex-shrink: 0; /* Não deixa o footer diminuir */
    background-color: transparent;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}



/*teste do teste do teste do teste de 1871 e mais uma porrada de teste, oi?*/